.env
composer.lock

vendor/*
modules/*
pages/*
static/*

app/crontab
app/initialized.lock

app/latte/*
app/logs/*

app/database/structure.sql
app/database/queries.log
app/database/backups/*
!app/database/backups/.gitkeep