DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
TEST_DB_NAME=

TZ='Europe/Paris'

APP_PATH='/var/www/'
APP_URL='http://localhost'
SCHEDULER_TOKEN=#Generate if you want to use the scheduler, otherwise remove it