/* Fonts */

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/app/static/fonts/Satoshi-Variable.woff2') format('woff2'),
        url('/app/static/fonts/Satoshi-Variable.woff') format('woff'),
        url('/app/static/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer-Variable';
    src: url('/app/static/fonts/Switzer-Variable.woff2') format('woff2'),
        url('/app/static/fonts/Switzer-Variable.woff') format('woff'),
        url('/app/static/fonts/Switzer-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}


/* Colors */
:root {
    --white: #ffffff;
    --black: #1A181B;
    --grey-10: #FDFBFE;
    --grey-20: #FAF3FB;
    --grey-30: #E6E4E7;
    --grey-40: #847887;
    --blue-100: #451952;
    --blue-100-rgb: 69, 25, 82;
    --blue-90: #5C216D;
    --blue-90-rgb: 92, 33, 109;
    --green-100: #7A9150;
    --green-50: #C2D1A7;
    --red-100: #EC4747;
    --red-50: #F49090;
}
/* Variables */
:root {
    --font-color: var(--black);
    --font-indication-color: var(--grey-40);
    --font-accent-color: var(--black);
    --font-inverted-color: var(--white);
    --negative-soft: var(--red-50);
    --negative-highlight: var(--red-100);
    --positive-soft: var(--green-50);
    --positive-highlight: var(--green-100);
    --deactivated: var(--grey-30);

    --main-color: var(--blue-100);
    --main-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
    --main-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    --hover-shadow: 0px 0px 16px 2px rgba(0,0,0,0.3);
    --popup-background: rgba(0,0,0,0.8);
    --background: var(--grey-20);
    --modal-background: var(--grey-10);
    --modal-highlighted-background: var(--white);
    --menu-background: var(--white);
    --tooltip-background: var(--blue-100);

    --code-background-color: var(--grey-10);
    --code-header-color: #C9F0DD;
    --code-border-color: var(--grey-30);
    --code-color: #0C4B33;

    --modal-border-radius: 11px;
    --cta-border-radius: 8px;

    --menu-width: 250px;
}
/* Override bootstrap */
:root {
    --bs-blue: var(--main-color);
    --bs-primary: var(--main-color);
    --bs-primary-rgb: var(--blue-100-rgb);
    --bs-font-sans-serif: 'Switzer-Variable', sans-serif;
}


/* Mains elements */
html {
    min-height: 100%;
    position: relative;
    font-family: 'Switzer-Variable';
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    height: 100%;
    color: var(--font-color);
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
}

.flex-spacer {
    flex-grow: 1;
}
/********************************/
/* Modals and flex positionning */
/********************************/
.card {
    padding: 32px;
    box-shadow:  var(--main-shadow);
    background-color: var(--modal-background);
    border: none;
}

.card-ghost {
    background-color: rgb(0,0,0,0);
    border-color: var(--main-color);
    border-width: 2px;
    border-style: dashed;
    border-spacing: 10px;
    text-align: center;
}

.card-clickable:hover {
    cursor: pointer;
    box-shadow: var(--hover-shadow);
} 

.card-clickable button:focus,
.card-clickable a:focus,
.card-clickable button:hover,
.card-clickable a:hover {
    box-shadow: none;
}

.highlight {
    border: 1px solid var(--blue-100);
}

#menu-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}

#branding {
    flex-grow: 1;
    flex-shrink: 1;
}

#branding h1 {
    padding: 0px;
    font-family: 'Satoshi-Variable';
}

#branding h1 a {
    color: var(--black);
    text-decoration: none;
}

#menu-hamburger-button {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: var(--white);
    border: none;
    color: var(--black);
    stroke-width: 1;
}

#menu-hamburger-button:hover {
    cursor: pointer;
    color: var(--blue-100);
}


#menu-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    gap : 24px;
}

#menu-account h4 {
    margin: 0px;
}

#menu-account-infos {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: start;
}

#menu-account form {
    width: 100%;
}

.menu_category {
    margin: 16px 0px 0px 0px;
}

#menu-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
}

#menu-links a {
    color: var(--font-color);
    text-decoration: none;
    margin-left: 16px;
}

.menu-closed #menu-links, .menu-closed #branding, .menu-closed #menu-account {
    display: none;
}

#menu-picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--grey-40);
}

#page-title {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#page-title h1 {
    margin: 0px;
    flex-grow: 1;
}

.horizontal_flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.horizontal_cta_group {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0px;
    width: auto;
    height: auto;
}

.popup-container {
    display: none;
    min-width: 650px;
    width: 50%;
    max-height: calc(80% - 64px);
    position: fixed;
    left: calc((100% - max(50%, 650px))/2);
    top: 15%;
    z-index: 11;
    border-radius: var(--modal-border-radius);
    padding: 32px 48px;
    box-shadow: var(--main-shadow);
    background-color: var(--modal-background);
    flex-direction: column;
    gap: 48px;
}

/* .popup-title {
    margin-bottom: 8px;
}

.popup-header {
    margin-bottom: 64px;
} */

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}

.popup-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#popup-background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--popup-background);
}

.popup-close {
    position: absolute;
    right : 48px;
    top: 32px;
    font-size: 2rem;
    color: var(--font-accent-color);
}

.popup-close:hover {
    color: var(--font-color);
    cursor: pointer;
}

/*******************************/
/*           Icons            */
/*******************************/
.icon_text_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.invis_icon_container i {
    opacity: 0;
}

.invis_icon_container:hover i {
    opacity: 1;
}

.h1-icon {
    font-size: 2rem;
}

.clickable-icon:hover {
    color: var(--blue-primary);
    cursor: pointer;
}

/*******************************/
/*           Inputs            */
/*******************************/

/* input[type="range"]:hover {
	cursor: pointer;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
} */

/* Enlève l'icone de calendrier dans le date picker par défaut */
/* input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
} */


/* .progress {
    height: 32px;
    background-color: var(--background);
    border-radius: var(--cta-border-radius);
    display: flex;
    margin: 0px 16px;
}

.progress .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-white);
    text-align: center;
    background-color: var(--blue-100);
    transition: width .6s ease;
    border-radius: 6px;
}

.progress .progress-bar p {
    min-width: 64px;
    color: var(--white);
    margin: 0px;
}

#progressbar-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.form_vertical_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.form_vertical_flex input {
    width: calc(100% - 32px);
}

.form_vertical_flex input[type="submit"] {
    margin-top: 16px;
    width: auto;
    min-width: 40%;
} */

/* Specific forms */

#user-login {
    width: 40%;
    gap: 8px;
}

#user-login input[type="submit"] {
    margin: 0px;
    width: 100%;
}
#user-register {
    width: 40%;
}

.tooltip {
    width: 150px;
    position: absolute;
    margin-top: 24px;
    font-size: var(--font-size-indication);
    background: var(--tooltip-background);
    color: var(--font-inverted-color);
    padding: 16px;
    border-radius: var(--cta-border-radius);
    box-shadow: var(--main-shadow);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 4;
    text-align: center;
}

.tooltip-container:hover .tooltip {
    top: 25px;
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: auto;
}

/*******************************/
/*          Pagination          */
/*******************************/
.pagination {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    color: var(--font-cta);
    padding: 16px 0px;
}

.pagination-page {
    font-weight: bold;
    border-radius: 8px;
    height: 38px;
    min-width: 38px;
    text-align: center;
    justify-content: center;
    color: var(--font-cta);
    background-color: #00000000;
    border: none;
}

.pagination-page:hover {
    background-color: var(--blue-20);
    cursor: pointer;
    color: var(--font-primary);
}

.pagination-current {
    background-color: var(--blue-primary);
    color: var(--font-white);
}

.pagination-current:hover {
    background-color: var(--blue-primary);
    color: #fff;
}

.pagination-current:active {
    background-color: var(--blue-primary);
    font-weight: bold;
    text-decoration: underline;
}

/*******************************/
/*           Notifs            */
/*******************************/
#notif-container{
    width: 100%;
    height: auto;
    margin-top: 70px;
    z-index:5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    position: fixed;
}

.notif {
    left: calc((100% - max(45%, 800px))/2);
    top: max(80px, 5%);
    z-index: 5;
    width: 35%;
    height: 32px;
    padding: 16px 32px;
    border-radius: var(--modal-border-radius);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 17px 0px var(--main-shadow);
}

.notif-error {
    background: linear-gradient(-10deg,#EF8D9C 70%, #FFC39E 100%);
}
.notif-success {
    background: var(--positive-soft);
}
.notif-info {
    background: linear-gradient(-10deg,#D7D3FF 70%, #99DBB4 100%);
}

.notif .notif-content {
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notif .notif-close {
    width: auto;
    flex: 0;
}

.notif .notif-close button {
    background-color: #ffffff00;
    border: none;
    font-size: 1rem;
    color: var(--font-accent);
}

.notif .notif-close button:hover {
    color: #000;
    cursor: pointer;
}

/*******************************/
/*             Code            */
/*******************************/
.code_block {
    background-color: var(--code-background-color);
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid var(--code-border-color);
    border-radius: 8px;
}

.code_block_header {
    height: 32px;
    background-color: var(--code-header-color);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 0px 32px;
}

.code_block_header p {
    flex-grow: 1;
    width: 100%;
    margin: 0px;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

.code_block_header .code_copy_button {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: var(--code-header-color);
    padding: 4px;
    border-radius: 4px;
}

.code_block_header .code_copy_button:hover, .code_block_header .code_copy_button_clicked {
    background-color: var(--cta-ghost-background);
    color: var(--code-color);
    cursor: pointer;
}

.code_block_content {
    padding: 32px;
    font-family: monospace;
    color: var(--code-color);
}

/*******************************/
/*           Steppers          */
/*******************************/

.stepper {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.stepper-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.stepper-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.stepper-line {
    aspect-ratio: 32 / 1;
    flex-grow: 3;
    max-width: 128px;
    background-color: var(--blue-30);
    margin: 0px 8px;
}

.stepper-line-done {
    background-color: var(--blue-primary);
}

.stepper-step {
    aspect-ratio: 1 / 1;
    max-width: 48px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepper-round {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    border-radius: 48px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border: 3px solid var(--blue-30);
}

.stepper-done {
    border: 3px solid var(--blue-primary);
}


.stepper-current {
    border: 3px solid var(--positive-highlight);
}

.stepper-step p {
    position: absolute;
    margin-top: -32px;
    color: var(--font-accent);
}

.stepper-round i {
    color: var(--blue-30);
    font-size: 1.5rem;
}

.stepper-done i {
    color: var(--blue-primary);
}

.stepper-current i {
    color: var(--positive-highlight);
}

.stepper-names p {
    flex-grow: 1;
    text-align: center;
}

/*******************************/
/*            Tags             */
/*******************************/
.tag {
    width: auto;
    height: 32px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 16px;
    background-color: var(--grey-30);
}

.tag_list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}