{layout 'layouts/layout.latte'}
{block tab-title}Arpege{/block}

{block title}
    {if isset($_COOKIE['user_name'])}
        <h1>Welcome {$_COOKIE['user_name']} to Arpege</h1>
    {else}
        <h1>Welcome to Arpege</h1>
    {/if}
{/block}

{block content}
    <div class="modal">
        <p>Hi!</p>
    </div>
{/block}