{layout 'layout.latte'} 

{block css_bundle}
    {* <link rel="stylesheet" href="/app/static/css/cellr.css"> *}
{/block}

{block javascript_bundle}
    <script src="/app/static/js/admin.js"></script>
{/block}

{block tab-title}Admin{/block}