{layout 'layout.latte'} 

{block css_bundle}
    <link rel="stylesheet" href="/app/static/css/bundle.css">
{/block}

{block javascript_bundle}
    <script src="/app/static/js/bundle.js"></script>
{/block}

{block tab-title}Bundle{/block}